<footer>
  <p mt-4 text-xs op-30>
    <span class="border-b border-slate border-none mt-2"
      >基于OpenAI接口开发<br />元·和平<br />
      保护和平古镇特色文化，建设以元和平为核心的元宇宙世界
    </span><br />
        </p>
</footer>
